<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="name" " Calculator="Calculator" Test="Test" ">
		<classes>
			<class name="name" " core.Addtest="core.AddTest" " />
			<class name="name" " core.Addtest="core.DivideTest" " />
			<class name="name" " core.Addtest="core.MultiplyTest" " />
			<class name="name" " core.Addtest="core.SubstractTest" " />
		</classes>
	</test>
</suite>